@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

$bg: #f8fafc;
$border-color: #eaeaea;

$font-family-base: "Inter", sans-serif;
$headings-font-family: "Inter", sans-serif;
$black: #0f172a;
$gray_text: #64748b;

$bg-dark: #1e293b;
$border-color-dark: #5a5a5a;
